{% include "base.html" %}
{% block content %}
<div class="panel panel-default panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Agriculture and Life Sciences</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            {% for department in ag %}
            <li class="list-group-item"><a href="./courses/{{ department.id }}">{{ department.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="panel panel-default panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Business</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            {% for department in bus %}
            <li class="list-group-item"><a href="./courses/{{ department.id }}">{{ department.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="panel panel-default panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Design</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            {% for department in des %}
            <li class="list-group-item"><a href="./courses/{{ department.id }}">{{ department.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="panel panel-default panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Engineering</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            {% for department in eng %}
            <li class="list-group-item"><a href="./courses/{{ department.id }}">{{ department.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="panel panel-default panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Graduate</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            {% for department in grad %}
            <li class="list-group-item"><a href="./courses/{{ department.id }}">{{ department.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="panel panel-default panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Human Sciences</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            {% for department in hs %}
            <li class="list-group-item"><a href="./courses/{{ department.id }}">{{ department.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="panel panel-default panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Liberal Arts and Sciences</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            {% for department in las %}
            <li class="list-group-item"><a href="./courses/{{ department.id }}">{{ department.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="panel panel-default panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Veterinary Medicine</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            {% for department in vet %}
            <li class="list-group-item"><a href="./courses/{{ department.id }}">{{ department.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
