{% include "base.html" %}
{% block content %}
<div style="width: 75%; margin: auto;">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">User Information</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th>First Name:</th>
                    <td>{{ user.first_name }}</td>
                </tr>
                <tr>
                    <th>Last Name:</th>
                    <td>{{ user.last_name }}</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Username:</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Password:</th>
                    <td>******</td>
                </tr>
            </table>
            <form>
                <a class="btn btn-primary" href="/user_edit" type="button" role="button" >Edit Info</a>
                <a class="btn btn-primary" href="/user_password_edit" type="button" role="button" >Change Password</a>
            </form>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Courses Taken</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                {% if pos %}
                    {% for course in pos.takenCourses.all %}
                        <tr>
                            <td>{{ course }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    No POS Created
                {% endif %}
            </table>
            <form>
                <button type="button" class="btn btn-primary">Edit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}