{% include "base.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#major").change(function(){
            $(this).find("option:selected").each(function(){
                if($(this).attr("value")=="559"){
                    $(".major").not(".Software Engineering").hide();
                    $(".Software, .Engineering").show();
                }
                else if($(this).attr("value")=="464") {
                    $(".major").not(".Computer Engineering").hide();
                    $(".Computer.Engineering").show();
                }
                else if($(this).attr("value")=="465"){
                    $(".major").not(".Computer Science").hide();
                    $(".Computer, .Science").show();
                }
                else{
                    $(".major").hide();
                }
            });
        }).change();
    });
</script>

<form method="post" name="coursesTaken" style="width:75%; margin:auto;">
    {% csrf_token %}
    <div class="form-group">
        <label for="major">Select Major:</label>
        <select class="form-control" id="major" name="major">
            {% for major in majors %}
                <option value="{{ major.id }}">{{ major.name }}</option>
            {% endfor %}
        </select>
    </div>

    <h3>Select all the required courses you've taken:</h3>
    {% for major in majors %}
        <div class="{{ major.name }} major">
            {% for reqCourse in major.reqCourses.all %}
                <label>
                     <input type="checkbox" value="{{ reqCourse.acronym }}" name="{{ major.id }}major">
                    {{ reqCourse.department.acronym }} {{ reqCourse.number }}
                </label>
                <!--Views checks the name for POST.get(), but prints the value-->
            {% endfor %}
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-4"><h4>Elective</h4></div>
        <div class="col-md-4"><h4>Required Number Credits</h4></div>
        <div class="col-md-4"><h4>Select Courses Taken Already for Elective</h4></div>
    </div>
    {% for elective in electives %}
        <div class="{{ elective.major.name }} major">
            <div class="row">
                <div class="col-md-4">
                    <h5>{{ elective.name }} Elective</h5>
                    {% if elective.overlapWith.all %}
                    <p>
                        <h6>May Overlap with:</h6>
                        <ul>
                        {% for electiveOverlap in elective.overlapWith.all %}
                           <li>{{ electiveOverlap.name}}</li>
                        {% endfor %}
                        </ul>
                    </p>
                    {% endif %}
                </div>
                <div class="col-md-4">{{ elective.creditNum}}</div>
                <div class="col-md-4">
                    <select id="{{ elective.id }}elective" name="{{ elective.id }}elective" multiple>
                        {% for course in elective.courses.all %}
                        <option value="{{ course.id }}">{{ course.acronym }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock content %}