<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    {% block body_block %}
    <div class="hero-unit">
        <div class="container">
            {% if registered %}
            <p>Thanks for registering! Please, login using your new account.</p><br/>
            <p><a href="./">Login</a></p>
            {% else %}

            <form class="form-signin span8" id="user_form" method="post" action="./register" enctype="multipart/form-data">
                {% csrf_token %}
                <h2 class="form-signin-heading">Register Here</h2>
                <!-- Display each form. The as_p method wraps each element in a paragraph
                     (<p>) element. This ensures each element appears on a new line,
                     making everything look neater. -->
                {% for field in user_form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}<br />
                    {{ field }}<br />
                {% endfor %}


                <!-- Provide a button to click to submit the form. -->
                <input class="btn btn-primary" type="submit" name="submit" value="Register"/>
            </form>
            {% endif %}
        </div>
    </div>
    {% endblock %}
</body>
</html>