{% include "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
        {# Load the tag library #}
        {% load bootstrap3 %}

        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        
</head>
<body>
     {% block body_block %}
   <div class="container">
        <div class="row centered-form ">
        
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Edit User Information</h3>
                </div>
                <div class="panel-body">
                    <form role="form" method="post" action="./user_password_edit">
                        {% csrf_token %}

                        Old Password:                 
                        <div>                            
                            <input type="password" input name="old_password" type="text" ID="Old Password" required />
                        </div>
                        New Password:                 
                        <div>                            
                            <input type="password" input name="new_password_1" type="text" ID="New Password" ng-model="emailReg" required/>
                        </div>
                        Repeat New Password:                 
                        <div>                            
                            <input type="password" input name="new_password_2" type="text" ID="Repeat New Password" ng-match="emailReg" required/>
                        </div>  
                                              
                        <input type="submit" value="Submit" class="btn btn-info btn-block">
                        
                    </form>
                </div>
            </div>
        
        </div>
    </div>
    {% endblock %}
</body>
</html>