{% include "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
        {# Load the tag library #}
        {% load bootstrap3 %}

        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
</head>
<body>
     {% block body_block %}
   <div class="container">
        <div class="row centered-form ">
        
        	<div class="panel panel-default">
        		<div class="panel-heading">
                    <h3 class="panel-title">Edit User Information</h3>
				</div>
				<div class="panel-body">
					<form role="form" method="post" action="./user_edit" enctype="multipart/form-data">
						{% csrf_token %}

						First Name:                   
                        <div>
                            <input id="first_name1" type="text" name="Firstname" value={{ request.user.first_name }} /> 
                        </div> 
                        Last Name:
                        <div>
                            
                            <input id="last_name" type="text" name="Lastname" value={{ request.user.last_name }} /> 
                        </div>
                        Username:
                        <div>
                            <input id="username" type="text" name="Username" value={{ request.user.username }} />
                        </div>
                        Email:
                        <div>
                            
                            <input id="email" type="text" name="Email" value={{ request.user.email }} />
                        </div>
                        <!--
                        <div>
                            
                            <input id="password" type="text" name="Password" value={{ request.user.password }} />
                        </div>
                        -->

                        <input type="submit" value="Submit" class="btn btn-info btn-block">
						
					</form>
				</div>
			</div>
		
        </div>
    </div>
    {% endblock %}
</body>
</html>