{% include "base.html" %}
{% block content %}
{% csrf_token %}

<script 
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#generated").change(function(){
            $(document).find("option:selected").each(function(){
                {% for generated in pos %}
                if($(this).attr("value")=="{{ generated.id }}"){
                    $(".coursesNeeded").not(".{{ generated.id }}pos").hide();
                    $(".{{ generated.id }}pos").show();
                }
                {% endfor %}  
            }); 
        }).change(); 
    });
</script>

<div class="panel panel-defaul panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Select POS</h3>
    </div>
     <div class="form-group">
         <form method="post" name="submit">
            {% csrf_token %}
            <div>Pos (newest to oldest):</div>
            <select class="form-control" id="generated" name="generated">
                {% for generated in pos %}
                    <option value="{{ generated.id }}">{{ generated.id}}: {{ generated.major }}</option>                    
                {% endfor %}               
            </select>
            <!--<button type="submit" name="submit" value="posSwitch" class="btn btn-default">Select</button>-->
            <button type="submit" name="submit" value="deletePOS" class="btn btn-default">Delete POS</button>
          </form>  
    </div>
</div>

{% for generated in pos %}
<div class="{{generated.id}}pos coursesNeeded" id="{{generated.id}}">
    <div class="panel panel-defaul panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Courses Needed for POS {{generated.id}}</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped" id="{{ generated.id }}">
                <div class="{{ generated.id }}">
                    {% for course in generated.neededCourses.all %}
                        <tr>
                            <td>
                            {{ course.acronym }}
                            </td>
                        </tr>
                    {% endfor %}
                </div>
            </table>
        </div>
    </div>
</div>
{% endfor %}


<div class="panel panel-defaul panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Semester</h3>
    </div>

    <div class="panel-body">
        <table class="table table-striped" id="current-members">
            {% for generated in pos %}
                {% for course in generated.semesters.all %}
                    <div>
                        {{ course.term }} 
                        {% for courses in course.all %}
                            <div>
                                {{ course.acronym }} {{course.number}} {{course.numCredits}}
                            </div>
                        {% endfor %}
                        {{course.courses}} 
                    </div>
                {% endfor %}
            {% endfor %}
        </table>
    </div>
</div>

{% endblock content %}